<h1>Les idées</h1>
<% if @ideas.empty? %>
   <div class="well">
     <p>Il n'y a pas encore d'idées d'améliorations, pourquoi ne pas soumettre la votre ? <%= link_to "J'ai une super idée !", new_idea_path %></p>
   </div>
<% else %>
<table class="table table-striped">
  <tr>
    <th>Titre</th>
    <th>Contenu</th>
    <th>Soumis par</th>
    <th>Affichage</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.body %></td>
    <td><%= idea.user.first_name if idea.user %></td>
    <td><%= link_to 'Voir cette idée', idea %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Nouvelle idée', new_idea_path %>
<% end %>
