<p id="notice"><%= notice %></p>

<p>
  <b>Titre :</b>
  <%= @idea.title %>
</p>

<p>
  <b>Contenu :</b>
  <%= @idea.body %>
</p>

<p>
  <b>User :</b>
  <%= @idea.user.first_name %>
</p>


<%= link_to 'Editer', edit_idea_path(@idea) if @idea.user == current_user  %> |
<%= link_to 'Retour aux idées', ideas_path %>
