<h1>Enregistrement</h1>

<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Formulaire invalide</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>Tous les champs sont obligatoires</p>
    <div class="control-group">
      <%= f.label :first_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirmation mot de passe", class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Envoyer", class:"btn" %>
      </div>
    </div>
<% end %>