<% if current_user %>
    <% content_for(:more_js) do %>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <%= javascript_include_tag "graph/graph" %>
        <script type="text/javascript">
            setChartForElements();
        </script>
    <% end %>
    <div class="alert notice alert-info" data-alert="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Bienvenue <%= current_user.email %>
    </div>
    <div class="row-fluid home_box">
    <ul class="stat-boxes" id="stat-boxes">
      <li>
        <div class="left peity_bar_bad">
          <i class="icon-bell"></i>
        </div>
        <div class="right tip">
          <strong><span><%= current_user.amount_owed %>€</span></strong>
          dû dès ajourd'hui
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-shopping-cart"></i>
        </div>
        <div class="right tip">
          <strong><span><%= current_user.total_amount_owed %>€</span></strong>
          de dettes totales depuis le début
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-money"></i>
        </div>
        <div class="right tip" data-title="Coupons envoyés aujourd'hui" data-original-title="">
          <strong><span><%= current_user.credit_line %>€</span></strong>
          que l'on me doit aujourd'hui
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-gift"></i>
        </div>
        <div class="right tip" data-title="Instants gagnants envoyés aujourd'hui" data-original-title="">
          <strong><span><%= current_user.total_credit_line %>€</span></strong>
          créances totales depuis le début
        </div>
      </li>

    </ul>
    </div>
    <div class="row-fluid">
      <div class="span8" class="charts">
        <div class="chart" id="chart"
             data-values='<%= [@stats.debts_by_week, @stats.credits_by_week].to_json %>'
             data-titles='["Dettes","Crédits"]'
             data-start="<%= @start_date.to_s %>" data-end="<%= @end_date.to_s %>"
        >
          <div class="loading"><i class="icon-spinner icon-spin icon-large"></i> <%= t 'pro.layout.loading' %></div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8" class="charts">
        <div class="chart" id="chart-3"
             data-values='<%= [@stats.debts_value_by_week, @stats.credits_value_by_week].to_json %>'
             data-titles='["Dettes","Crédits"]'
             data-start="<%= @start_date.to_s %>" data-end="<%= @end_date.to_s %>"
        >
          <div class="loading"><i class="icon-spinner icon-spin icon-large"></i> <%= t 'pro.layout.loading' %></div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8" class="charts">
        <div class="chart" id="chart-2"
             data-values='["Débit",<%= current_user.amount_owed %>],["Crédit",<%= current_user.credit_line %>]'
        >
          <div class="loading"><i class="icon-spinner icon-spin icon-large"></i> <%= t 'pro.layout.loading' %></div>
        </div>
      </div>
    </div>
<% else %>
<%= render 'login' %>
<% end %>