<% if current_user %>
    <div class="alert notice alert-info" data-alert="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Bienvenue <%= current_user.email %>
    </div>
    <div class="row-fluid home_box">
    <ul class="stat-boxes" id="stat-boxes">
      <li>
        <div class="left peity_bar_bad">
          <i class="icon-bell"></i>
        </div>
        <div class="right tip">
          <strong><span><%= current_user.amount_owed %>€</span></strong>
          dû dès ajourd'hui
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-shopping-cart"></i>
        </div>
        <div class="right tip">
          <strong><span><%= current_user.total_amount_owed %>€</span></strong>
          que l'on me doit aujourd'hui
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-money"></i>
        </div>
        <div class="right tip" data-title="Coupons envoyés aujourd'hui" data-original-title="">
          <strong><span><%= current_user.credit_line %>€</span></strong>
          de dettes totales depuis le début
        </div>
      </li>

      <li>
        <div class="left peity_bar_bad">
          <i class="icon-gift"></i>
        </div>
        <div class="right tip" data-title="Instants gagnants envoyés aujourd'hui" data-original-title="">
          <strong><span><%= current_user.total_credit_line %>€</span></strong>
          créances totales depuis le début
        </div>
      </li>

    </ul>
    </div>
<% else %>
<%= render 'login' %>
<% end %>